{% extends 'network/layout.html'%}
{%block body%}
<hr/>

<div class="create-post">
    <form method=post action="{% url 'create' username=user.username %}">
        {% csrf_token %}
        <textarea rows=8 col=100 style="opacity: 0.7; border:double 5px black" class="form-control" name="text" placeholder="  Write your post.."></textarea>
        <br>
        <button class="btn btn-outline-primary" type="submit" value="Create"><i class="fa fa-check-square-o"></i> Create</button>
    </form>
</div>

{%endblock%}