{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Social Network{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> 
   
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link href="{% static 'network/styles.css' %}" rel="stylesheet">
    </head>
    <body >

        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="{% url 'index' %}">Network</a>
          
            <div >
              <ul class="navbar-nav ml-auto"  >
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' username=user.username %}"><strong><i class="fa fa-user">  {{ user.username }}</i></strong></a>
                    </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'index' %}"><i class="fa fa-list-alt">  All Posts</i></a>
                </li>
                {% if user.is_authenticated %}

                   
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create' username=user.username %}"><i class="fa fa-pencil-square-o">  Create Post</i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'following' username=user.username %}"><i class="fa fa-users">  Following</i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out">  Log Out</i></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in">  Log In</i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}"><i class="fa fa-user-plus">  Register</i></a>
                    </li>
                {% endif %}
              </ul>
            </div>
          </nav>
        <div class="container">
        <div class="body">
            {% block body %}
            {% endblock %}
        </div>
    </div>
    </body>

            <script>
            $('.likebutton').on('click',function(){
                var catid, total, value;
                catid = $(this).data("catid");        

                $.ajax(
                {
                    type:"GET", url: "/like", data:{postID: catid},                    
                    success:function(data){
                        total = $('#'+ catid).attr("data-total")
                        if ($('#'+catid).attr("data-value") == 'Like'){
                            $( '#likes'+catid ).text( (parseInt(total) + 1));
                            $( '#heart'+catid ).css('color', '#ff1493')
                            $('#'+catid).attr("data-total", parseInt(total) + 1)
                            $('#'+catid).attr("data-value", 'Unlike')
                        }
                        else{
                            $( '#likes'+catid ).text((parseInt(total) - 1));
                            $( '#heart'+catid ).css('color', 'white')
                            $('#'+catid).attr("data-total", parseInt(total) - 1)
                            $('#'+catid).attr("data-value", 'Like')
                        }
                    }
                })                
            })
            $(function() {
                $( 'a[href$="#"]' ).each(function() {
                    $( this ).attr( 'href','javascript:void(0);' )
                });
            });
        </script> 



</html>