{% extends "network/layout.html" %}

{% block body %}

   

    {% if message %}
    <center>
        <br/>
        <div class="alert alert-info col-5" role="alert">{{ message }}</div>
    </center>
    {% endif %}

   
<div class="login-form">    
    <form action="{% url 'login' %}" method="post">
         {% csrf_token %}
        <div class="avatar"><i class="material-icons">&#xE7FF;</i></div>
        <h4 class="modal-title">Login to Your Account</h4>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Username" name="username" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" name="password" required="required">
        </div>
        <div class="form-group small clearfix">
            <label class="checkbox-inline"><input type="checkbox"> Remember me</label>
            
        </div> 
        <input type="submit" class="button btn-block btn-lg" style="background: #1A237E;color: white;" value="Login">  
                    
    </form>         
   <div class="text-center small" style="color: white">Don't have an account? <a href="{% url 'register' %}">Sign up</a></div> 
</div>

{% endblock %}


