body{
	
	background-image: url("https://images.unsplash.com/photo-1506220926022-cc5c12acdb35?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
	background-size: 100% 120%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	
}
nav{
	background-color: black;
	
}
nav>a{
	color: white;
}


.edit{
	float: right;
	color: white;
}
.login-form {
        width: 450px;
		margin: 0 auto;
		padding: 30px 0;
	}
    .login-form form {
        color: #434343;
		border-radius: 1px;
    	margin-bottom: 15px;
        background: #fff;
		border: 1px solid #f3f3f3;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
	}
	.login-form h4 {
		text-align: center;
		font-size: 25px;
        margin-bottom: 20px;
        font-weight: bold;
	}
    .login-form .avatar {
        color: #fff;
		margin: 0 auto 30px;
        text-align: center;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		z-index: 9;
		background: #1A237E;
		padding: 15px;
		box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
	}
    .login-form .avatar i {
        font-size: 62px;
    }
    .login-form .form-group {
        margin-bottom: 20px;
    }
	.login-form .form-control, .login-form .btn {
		min-height: 40px;
		border-radius: 2px; 
        transition: all 0.5s;
	}
	.login-form .close {
        position: absolute;
		top: 15px;
		right: 15px;
	}
	.login-form .btn {
		background: #1A237E !important;
		border: none;
		line-height: normal;
	}
	.login-form .btn:hover, .login-form .btn:focus {
		background: #1A237E !important;
	}
    .login-form .checkbox-inline {
        float: left;
    }
    .login-form input[type="checkbox"] {
        margin-top: 2px;
    }
    
    .login-form .small {
        font-size: 20px;
    }
    .login-form a {
        color: blue;
    }

  #card{
  	
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px;
  }

.navbar-brand{
	font-weight: bold;
    font-family: "serif";
    padding: 10px;
}
.sidenav {

  position: fixed; 
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  margin-top: 6%;
  margin-left: 2%;
   /* Black*/
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

@media screen and (max-width: 1500px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
 @media screen and (min-width: 600px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
  }
 

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
.button{
	background-color: #1A237E;
	color: white;
}


.btn-responsive{
 white-space: normal !important;
 word-wrap: break-word;
}

@media screen and (max-width: 601px) {
  .create-post>textarea {
    width: 200px;
    height: auto;
    position: relative;

  }
@media screen and (max-width: 601px) {
  .create-post>div{
    width: 200px;
    height: auto;
    position: relative;
  }
@media screen and (min-width: 1000px) {
  .create-post>textarea {
    width: 500px;
    height: auto;
    position: relative;
  }
@media screen and (min-width: 1000px) {
  .create-post>div{
    width: 500px;
    height: auto;
    position: relative;
  }
 
 